<% provide :title, t("login") %>
<h2><%= t "login" %></h2>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for :session, url: sign_in_path do |f| %>

      <%= f.label :email %>
      <%= f.email_field :email, class: "form-control" %>

      <%= f.label :password %>
      <%= f.password_field :password, class: "form-control" %>

      <%= f.submit t("login"), class: "btn btn-primary" %>
    <% end %>

    <p><%= link_to t("signup_now"), sign_up_path %></p>
  </div>
</div>
