<div class="row">
  <div class="fixedElement">
    <h3><%= t "lesson.progress" %></h3>
    <h2>
      <span id="answer_count"><%= Settings.answer_count %></span>/
      <span id="total"><%= @lesson.results.count %></span>
    </h2>
  </div>
  <div class="container lesson">
    <div class="title">
      <span>
        <%= t "lesson.lesson_date" %>
        <%= l @lesson.created_at, format: :date_exam %>
      </span>
      <center class="category-title">
        <h2><%= @lesson.category.title %></h2>
      </center>
      <hr>
    </div>
    <div>
      <%= form_for @lesson do |f|%>
        <ol>
          <%= f.fields_for :results, wrapper: false do |result_f| %>
            <%= render "answer_form", form: result_f %>
          <% end %>
        </ol>
        <center>
          <%= f.submit t("lesson.finish"), class: "btn btn-primary large",
            data: {confirm: t("lesson.finish_alert")} %>
        </center>
      <% end %>
    </div>
  </div>
</div>
