<div class="panel-body">
  <%= form_for words_path, method: :get do |f| %>
    <div class="row center">
      <%= t "category.categories" %>
      <%= select_tag "category_id",
        options_from_collection_for_select(@categories, "id", "title",
          params[:category_id]), include_blank: t("all"),
        class: "form-control form-small" %>
      <%= render "filter_form" %>
    </div>
    <div class="center">
      <%= f.submit t("filter"), class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

