<div class="container">
  <%= render "search_words" %>
  <div class="row">
    <hr>
    <%= render "search_form" %>
  </div>
  <div class="col-md-9 col-md-offset-2">
    <%= t "download" %>
    <%= link_to t("word.csv"), words_path(category_id: params[:category_id],
      condition: params[:condition], format: Settings.csv) %>
    <%= t "symbol_stroke" %>
    <%= link_to t("word.xls"), words_path(category_id: params[:category_id],
      condition: params[:condition], format: Settings.xls) %>
  </div>
  <h2 class="word-list"><%= t "word.list_words" %></h2>
  <div class="col-md-9 col-md-offset-2">
    <div id ="words_record">
      <%= render "list_words" %>
    </div>
  </div>
</div>
