<div class="container">
  <h2 class="text-center word-list"><%= t "word.list_words" %></h2>
  <div class="center"><%= render "search_words" %></div>
  <div class="panel-group">
    <div class="panel panel-info">
      <div class="panel-heading text-center">
        <%= t "word.index.filter" %>
      </div>
      <div class="panel-body">
        <%= render "search_form" %>
      </div>
    </div>
  </div>
  <div>
    <%= t "download" %>
    <%= link_to t("word.csv"), words_path(category_id: params[:category_id],
      condition: params[:condition], format: Settings.csv) %>
    <%= t "symbol_stroke" %>
    <%= link_to t("word.xls"), words_path(category_id: params[:category_id],
      condition: params[:condition], format: Settings.xls) %>
  </div>
  <div>
    <div id ="words_record">
      <%= render "list_words" %>
    </div>
  </div>
</div>
