<tr>
  <td><%= category.title %></td>
  <td><%= category.quantity_question %></td>
  <td>
    <%= link_to admin_category_words_path(category) do %>
      <span class="glyphicon glyphicon-list-alt"></span>
    <% end %>
  </td>
  <td>
    <%= link_to edit_admin_category_path(category) do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
  </td>
  <td>
    <%= link_to [:admin, category], method: :delete,
      data: {confirm: t("admin.destroy_confirm")} do %>
      <span class="glyphicon glyphicon-trash"></span>
    <% end %>
  </td>
  <td>
    <%= form_tag admin_block_path(category.id), method: :patch do %>
      <%= check_box_tag :is_block, {}, category.is_block,
        onclick: "changeStatus(this)" %>
      <%= t "category.is_block" %>
    <% end %>
  </td>
</tr>
